<html>
    <head>
      <title>Python Podcast Feed Generator</title>
    </head>
    <body>
        <div>
        Page: 
        [<a href="{{ url_for('index') }}">Home</a>] 
        [<a href="{{ url_for('list_podcasts') }}">Podcast List</a>]
        {% if current_user.is_anonymous %}
        [<a href="{{ url_for('login') }}">Log in</a>] 
        [<a href="{{ url_for('register') }}">First-use Registration</a>]
        {% else %}
        [<a href="{{ url_for('logout') }}">Log out</a>]
        {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>

