{% extends "base.html" %}

{% block content %}
    <h1>Episode <em>{{ episode.title }}</em> ({{ podcast.title }}) 
    [<a href="{{ url_for('serve_feed', pod_id=podcast.id) }}">RSS Feed</a>]</h1>
        <div>
          <div style="float: clear;"><img src="{{ podcast.logo }}" /></div>​​​​​​​​​​​​​
          <div>
            [<a href="{{ url_for('edit_episode', pod_id=podcast.id, episode_id=episode.id) }}">Edit Episode Metadata</a>]
          </div>
          <div style="flot: clear;">
          <ul>
            <li>ID: {{ episode.id }}</li>
            <li>Title: {{ episode.title }}</li>
            <li>Date: {{ episode.pubDate.strftime("%Y-%m-%d - %H:%M %Z") }}</li>
            <li>Description:</br> <div style="width: 50%; padding-bottom: 0.5em; padding-top: 0.5em; text-align: justify;">{{ episode.description }}</div></li>
            <li>GUID: {{ episode.guid }}</li>
            <li><a href="{{ episode.enc_url }}">Download file ({{ episode.enc_type }})</a></li>
          </ul>
        </div>
        <div>
          <figure>
          <figcaption>Listen to the episode:</figcaption>
          <audio
          controls
          src="{{ episode.enc_url }}">
          <p>Your browser doesn't support HTML5 audio. Here is a <a href="{{ episode.enc_url }}">link to the audio</a> instead.</p>
          </audio>
          </figure>
         </div>
        </div>
{% endblock %}
