{% extends "base.html" %}

{% block content %}
    <h1>{{ title }} {% if form.db_idx.data %} [{{ form.db_idx.data }}] {% endif %}</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}
            {% if form.title.flags.required %}*{% endif %}<br>
            {{ form.title(size=64) }}
            {% for error in form.title.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>
            {{ form.description.label }} 
            {% if form.description.flags.required %}*{% endif %}<br>
            {{ form.description(cols=78, rows=4) }}
            {% for error in form.description.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>
            {{ form.pubDate.label }}<br>
            {% if form.pubDate.time.flags.optional %}
                (Optional: the date/time of submission is used by default)
            {% endif %}
            {{ form.pubDate }}
            {% for error in form.pubDate.date.errors %}
              <span>{{ error }}</span>
             {% endfor %}
            {% for error in form.pubDate.time.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>
            {{ form.enc_url.label }}
            {% if form.enc_url.flags.required %}*{% endif %}<br>
            {{ form.enc_url(size=64) }}
            {% for error in form.enc_url.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>
            {{ form.enc_length.label }}<br>
            {% if form.enc_length.flags.optional %}
                (Optional: the value '0' is used by default)<br>
            {% endif %}
            {{ form.enc_length(size=64) }}<br>
            {% for error in form.enc_length.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>
            {{ form.enc_type.label }}
            {% if form.enc_type.flags.required %}*{% endif %}<br>
            {{ form.enc_type(size=64) }}
            {% for error in form.enc_type.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>
            {{ form.guid.label }}
            {% if form.guid.flags.required %}*{% endif %}<br>
            {{ form.guid(size=64) }}
            {% for error in form.guid.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
