{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Python Podcast Feed Generator</h1>
    <!--<a href="{{ url_for('generate_all_feeds') }}">
      <button type="button">Generate all feeds</button> 
    </a>-->
    {{ readme|safe }}
{% endblock %}
