{% extends "base.html" %}

{% block content %}
    <h1>Episode list for <em>{{ podcast.title }}</em> ({{ num_of_episodes }}) 
    [<a href="{{ url_for('serve_feed', pod_id=podcast.id) }}">RSS Feed</a>]</h1>
        <div>
          <div style="float: clear;"><img src="{{ podcast.logo }}" /></div>​​​​​​​​​​​​​
          <div style="flot: clear;">
          <ul>
            <li>ID: {{ podcast.id }}</li>
            <li>Title: {{ podcast.title }} (<a href="{{ podcast.link }}">URL</a>)</li>
            <li>Subtitle: {{ podcast.subtitle }}</li>
            <li>Author: {{ podcast.author_name }} (<a href="mailto:{{ podcast.author_email }}">e-mail</a>)</li>
            <li>Language code: {{ podcast.language }}</li>
          </ul>
        </div>
        <div style="padding-bottom: 1em;">
          [<a href="{{ url_for('add_episode', pod_id=podcast.id) }}">New Episode...</a>]
          [<a href="{{ url_for('edit_podcast', pod_id=podcast.id) }}">Edit Podcast Metadata</a>]
        </div>
        <div>
        {% for episode in episodes %}
        </div>
        <div>
        <table style="border: 1px solid black;">
          <tr>
            <td>[{{ episode.id }}]</td>
            <td>{{ episode.title }}</td>
            <td> ({{ episode.pubDate.strftime("%Y-%m-%d - %H:%M %Z") }}) </td>
            <td style="color: blue;"> [<a href="{{ url_for('episode_details', pod_id=podcast.id, episode_id=episode.id) }}">View Episode</a>]</td>
            <td style="color: red;"> [<a href="{{ url_for('edit_episode', pod_id=podcast.id, episode_id=episode.id) }}">Edit Episode Metadata</a>]</td>
          </tr>
        </table>
        </div>
        {% endfor %}
{% endblock %}
