{% extends "base.html" %}

{% block content %}
    <h1>{{ title }} {% if form.db_idx.data %} [{{ form.db_idx.data }}] {% endif %}</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=64) }}
            {% for error in form.title.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>
            {{ form.subtitle.label }}<br>
            {{ form.subtitle(cols=78, rows=4) }}
            {% for error in form.subtitle.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>
            {{ form.author_name.label }}<br>
            {{ form.author_name(size=64) }}
            {% for error in form.author_name.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>
            {{ form.author_email.label }}<br>
            {{ form.author_email(size=64) }}
            {% for error in form.author_email.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>
            {{ form.link.label }}<br>
            {{ form.link(size=64) }}
            {% for error in form.link.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>
            {{ form.logo.label }}<br>
            {{ form.logo(size=64) }}
            {% for error in form.logo.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>
            {{ form.language.label }}<br>
            {{ form.language(size=64) }}
            {% for error in form.language.errors %}
              <span>{{ error }}</span>
             {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
