{% extends "base.html" %}

{% block content %}
    <h1>Podcast list</h1>
        <div style="padding-bottom: 1em;">
          <a href="{{ url_for('add_podcast') }}">[New Podcast...]</a>
        </div>
        {% for podcast in podcasts %}
        <div>
        <table style="border: 1px solid black;">
          <tr>
            <td>[{{ podcast.id }}]</td>
            <td>{{ podcast.title }}</td>
            <td style="color: orange;"> [<a href="{{ url_for('serve_feed', pod_id=podcast.id) }}">RSS Feed</a>]</td>
            <td style="color: blue;"> [<a href="{{ url_for('list_episodes', pod_id=podcast.id) }}">List Episodes</a>]</td>
            <td style="color: red;"> [<a href="{{ url_for('edit_podcast', pod_id=podcast.id) }}">Edit Podcast Metadata</a>]</td>
          </tr>
        </table>
        </div>
        {% endfor %}
{% endblock %}
